.totale {
    background-color:rgb(96, 76, 48);
    border-top: 3px solid  rgb(17, 238, 9);
    border-bottom: 3px solid  rgb(211, 11, 11);
    border-right: 5px solid  rgb(137, 135, 135);
    border-left: 5px solid  rgb(169, 23, 96);
}